<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <img src="images/logo.png" alt="Logo Planos" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Pesquisa de Certificados</h1>
  </div>
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form name="frmPesquisa" ng-submit="main.pesquisar()">
          <div class="form-group">
            <label for="">Nr. Registro:</label>
            <input type="text" class="form-control" required="required" placeholder="Digite o número" ng-model="main.pesquisa">
          </div>
          <div class="alert alert-warning" ng-if="main.err">
            Nenhum certificado com esse número foi encontrado!
          </div>
          <button type="submit" class="btn btn-primary btn-sm btn-block" ng-disabled="frmPesquisa.$invalid">
            PESQUISAR
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="main.showDados">
  <div class="col-sm-4">
    Dados do Aluno:
    <table class="table table-hover table-condensed table-striped">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
            Dt. Cadastro
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Priscila Thaynann Martins de Sousa
          </td>
          <td>
            01/11/2015
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    Treinamentos Realizados:
    <table class="table table-hover table-condensed table-striped">
      <thead>
        <tr>
          <th>
            Treinamento
          </th>
          <th>
            Data
          </th>
          <th>
            Instrutor
          </th>
          <th>
            Download Certificado
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Auditoria Tributária
          </td>
          <td>
            07/11/2015 a 05/12/2015
          </td>
          <td>
            Raphael Isaac Bandeira
          </td>
          <td>
            <a href="images/Certificado060233_.pdf" target="_blank" class="btn btn-sm btn-primary">Download</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
